---
import { Picture } from "astro:assets";
import { projectsPage } from "@utils/pages";
import type { Project } from "../projectSchema";
import { Arrow } from "@components/ui/icons";

interface Props extends Omit<Project, "slug"> {
  index: number;
}

const { tags, image, title, snippet, color, category, releaseDate } =
  Astro.props;

const ctaText = projectsPage.allowCaseStudies
  ? "Read Case Study"
  : "View Project";
---

<article class="flex flex-col h-full">
  <!-- Cover -->
  <Picture
    width={800}
    height={400}
    format="webp"
    loading="lazy"
    decoding="async"
    src={image.src}
    alt={image.alt}
    sizes="(max-width: 800px) 100vw, 800px"
    class="w-full object-cover object-center aspect-video rounded-content border-b-2 bg-white group-hover:border-pink-500 group-focus-within:border-pink-500 transition-colors"
  />
  <!-- Body -->
  <div class="h-full flex flex-col gap-content p-content justify-between">
    <!-- Body Content -->
    <div class="flex flex-col gap-content">
      <!-- Header -->
      <div class="flex items-center gap-element">
        <span class={`badge badge-sm text-white bg-${color}-500`}>
          {category}
        </span>
        <time class="text-secondary" datetime={releaseDate.toISOString()}>
          {releaseDate.getFullYear()}
        </time>
      </div>
      <!-- End Header -->
      <!-- Meta -->
      <div class="flex flex-col gap-element">
        <!-- Title -->
        <h3>
          {title}
        </h3>
        <!-- End Title -->
        <!-- Snippet -->
        <p class="leading-relaxed text-secondary">
          {snippet}
        </p>
        <!-- End Snippet -->
      </div>
      <!-- End Meta -->
    </div>
    <!-- End Body Content -->
    <!-- Footer -->
    <div class="flex items-end gap-element">
      <!-- Tags -->
      {
        tags.length > 0 && (
          <ul class="flex gap-element flex-grow flex-wrap">
            {tags.map((tag) => (
              <li class="badge badge-sm bg-pink-200 text-pink-800 opacity-80">
                #{tag}
              </li>
            ))}
          </ul>
        )
      }
      <!-- End Tags -->
      <!-- CTA -->
      <span class="inline-flex items-center flex-shrink-0 text-pink-500">
        {ctaText}
        <Arrow class="ml-2" />
      </span>
      <!-- End CTA -->
    </div>
    <!-- End Footer -->
  </div>
  <!-- End Body -->
</article>
