---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import BlogList from "@blog/components/BlogList.astro";
import BlogCard from "@blog/components/BlogCard.astro";
import BlogListItem from "@blog/components/BlogListItem.astro";
import { sortedBlogCollection } from "@blog/blogCollection";
// import { categorizedBlogCollection } from "@blog/index";
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">My <span class="fancy">Blo</span>g</Fragment>
      <Fragment slot="desc">
        I like writing about things I learn and scenarios I encounter.
      </Fragment>
    </Sectionhead>
    <!-- <main class="mt-16 flex flex-col gap-20">
      {
        categorizedBlogCollection.map(({ category, blogs }) => (
          <section class="max-w-4xl mx-auto flex flex-col gap-4">
            <h2 class="text-black text-3xl font-bold">{category}</h2>
            <BlogList>
              {blogs.map(({ slug, ...blog }, index) => (
                <BlogListItem {slug}>
                  <BlogCard {...blog} {index} />
                </BlogListItem>
              ))}
            </BlogList>
          </section>
        ))
      }
    </main> -->
    <main class="mt-16 flex flex-col gap-20">
      <BlogList>
        {
          sortedBlogCollection.map(({ slug, ...blog }, index) => (
            <BlogListItem {slug}>
              <BlogCard {...blog} {index} />
            </BlogListItem>
          ))
        }
      </BlogList>
    </main>
  </Container>
</Layout>
