---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import { Icon } from "astro-icon";
import { strings } from "@utils/strings";
import GetInTouch from "./GetInTouch.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <span
      class="px-2 py-1 mb-4 sm:mb-6 rounded bg-indigo-600 w-fit flex gap-1 items-center text-white">
      <Icon class="w-5 h-5 badge" name={strings.yearsOfExperienceIcon} />
      {strings.yearsOfExperienceCount}
      {strings.yearsOfExperience}
    </span>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      {strings.title}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {strings.summary}
    </p>
    <GetInTouch />
  </div>
</main>
