---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import { Icon } from "astro-icon";
import { heroStrings } from "@utils/strings";
import GetInTouch from "./GetInTouch.astro";

const { cta, image, title, summary, yearsOfExperience } = heroStrings;
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  {
    !image.isHidden && (
      <div class="py-6 md:order-1 hidden md:block">
        <Picture
          format="webp"
          quality="max"
          loading="eager"
          src={heroImage}
          class="max-w-sm"
          widths={[200, 400, 600]}
          alt="Astronaut in the air"
          sizes="(max-width: 800px) 100vw, 620px"
        />
      </div>
    )
  }
  <div>
    {
      !yearsOfExperience.isHidden && (
        <span class="mb-4 sm:mb-6 bg-indigo-600 text-white badge">
          <Icon class="w-5 h-5" name={yearsOfExperience.icon} />
          {yearsOfExperience.value}
        </span>
      )
    }
    {
      !title.isHidden && (
        <h1
          class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
          set:html={title.value}
        />
      )
    }
    {
      !summary.isHidden && (
        <p class="text-lg mt-4 text-slate-600 max-w-xl">{summary.value}</p>
      )
    }
    {!cta.isHidden && <GetInTouch />}
  </div>
</main>
