---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { strings } from "@utils/strings";
import { routes } from "@utils/routes";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <span
      class="px-2 py-1 mb-4 sm:mb-6 rounded bg-indigo-600 w-fit flex gap-1 items-center text-white">
      <Icon class="w-5 h-5 badge" name={strings.yearsOfExperienceIcon} />
      {strings.yearsOfExperienceCount}
      {strings.yearsOfExperience}
    </span>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      {strings.title}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {strings.summary}
    </p>
    <div
      class="mt-6 flex flex-col items-start sm:flex-row gap-3 group relative">
      <Link
        href={routes.contact}
        class="flex gap-1 items-center justify-center w-full sm:w-auto">
        <Icon class="text-white w-5 h-5" name={strings.contactIcon} />
        {strings.contactLabel}
      </Link>
      <span class="open-to-work-label">
        <Icon class="text-white w-4 h-4" name={strings.openToWorkIcon} />
        {strings.openToWork}
      </span>
    </div>
  </div>
</main>
<style>
  .open-to-work-label {
    @apply px-2 py-1 rounded bg-pink-600 flex gap-1 items-center justify-center text-white transition-transform;

    /* Rules for Smaller screens */
    @apply absolute top-0 right-0 -translate-y-2 translate-x-4 rotate-6;

    /* Rules for Larger screens only */
    @apply sm:relative sm:-rotate-12 sm:-translate-x-20 sm:translate-y-8 sm:group-hover:rotate-2 sm:group-hover:translate-y-10 sm:group-focus-within:rotate-2 sm:group-focus-within:translate-y-10;
  }
</style>
