---
import { Arrow } from "@components/ui/icons";
import { Picture } from "astro:assets";
import { getEntries } from "astro:content";
import { routes } from "@utils/routes";
import { type Project, sortedProjectCollection } from "@project/index";
import Button from "@components/ui/button.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

// Generate a new path for every collection project
export async function getStaticPaths() {
  return sortedProjectCollection.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

interface Props extends Project {}

// Get the project directly from the prop on render
const { tags, title, render, releaseDate, relatedBlogs } = Astro.props;
const { Content } = await render();

const blogs = await getEntries(relatedBlogs || []);
---

<Layout title={title}>
  <Container>
    <section class="section-tight">
      <h1>
        {title}
      </h1>
      <div class="flex gap-element items-center flex-wrap md:flex-nowrap">
        <time class="text-secondary" datetime={releaseDate.toISOString()}>
          {releaseDate.toDateString()}
        </time>
        <span aria-hidden="true" class="text-secondary hidden md:block">•</span>
        <ul class="w-full md:w-auto flex flex-wrap gap-element">
          {
            tags.map((tag) => (
              <li class="badge badge-sm bg-pink-200 text-pink-800">#{tag}</li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="mx-auto prose prose-lg section-tight">
      <Content />
    </section>

    {
      blogs.length > 0 && (
        <section class="flex flex-col gap-content">
          <h2>Related Blog</h2>
          <ul class="flex gap-content whitespace-nowrap overflow-x-auto">
            {blogs.map(({ slug, data }) => (
              <li
                class:list={[
                  "flex-shrink-0 relative max-w-sm rounded-content overflow-hidden border-2 hover:border-pink-500 focus-within:border-pink-500 transition-colors group",
                  blogs.length > 1 ? "w-3/4" : "w-full",
                ]}>
                <Picture
                  width={800}
                  height={400}
                  format="webp"
                  loading="lazy"
                  decoding="async"
                  src={data.image.src}
                  alt={data.image.alt}
                  sizes="(max-width: 800px) 100vw, 800px"
                  class="w-full rounded-content object-cover object-center bg-white aspect-video border-b-2 group-hover:border-pink-500 group-focus-within:border-pink-500 transition-colors"
                />
                <div class="p-content group-hover:bg-gray-100 group-focus-within:bg-gray-200 flex flex-col gap-content">
                  <h3 class="whitespace-normal">{data.title}</h3>
                  <div class="flex gap-element">
                    <time
                      class="text-secondary"
                      datetime={data.publishDate.toISOString()}>
                      {data.publishDate.toDateString()}
                    </time>
                    <span
                      aria-hidden="true"
                      class="text-secondary hidden md:block">
                      •
                    </span>
                    <span class="text-pink-500"> Read Blog</span>
                  </div>
                </div>
                <a
                  href={routes.getBlog(slug)}
                  class="opacity-0 absolute top-0 left-0 w-full h-full">
                  {data.title}
                </a>
              </li>
            ))}
          </ul>
        </section>
      )
    }

    <section class="text-center">
      <Button as="a" href="/projects" style="inverted">
        <Arrow class="rotate-180" /> Back to Projects
      </Button>
    </section>
  </Container>
</Layout>
