---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/bricolage-grotesque/index.css";
import { strings } from "@utils/strings";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + strings.name
  : strings.name + " - " + strings.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={strings.summary}
      canonical={canonicalURL}
      twitter={{
        creator: strings.twitterHandle,
        site: strings.twitterHandle,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: strings.name + " - " + strings.title,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: strings.ogImgAlt,
        },
      }}
    />
  </head>
  <body class="pt-[var(--navbar-height)]">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --navbar-height: 70px;
      }

      @screen lg {
        :root {
          --navbar-height: 85px;
        }
      }

      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      *:focus-visible {
        @apply outline-2 outline-pink-600;
      }

      .before-ornament {
        @apply relative before:absolute before:top-full before:left-0 before:w-0 before:h-[2px] before:rounded before:bg-pink-400 before:transition-all before:duration-200 hover:before:w-full focus:before:w-full;
      }

      .badge {
        @apply px-2 py-1 rounded w-fit flex gap-1 items-center;
      }

      .badge-sm {
        @apply px-1 py-0 text-sm;
      }
    </style>
  </body>
</html>
